body {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #FAFAFA;
}

body, .App-intro-strip {
  background-color: #5eb1e3;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-weight: normal;
  color: #FFF;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.product-list-item {
  width: 100%;
  height: 140px;
  border-top: 2px solid #2e74bc;
  border-bottom: 2px solid #2e74bc;
  background: #FFF;
  color: #444;
  box-sizing: border-box;
  margin-top: 10px;
}

.product-list-item .name {
  color: #2e74bc;
}

.product-list-item .upc {
  color: #444;
}

.product-list-item .price {
  color: #2d9e00;
}

.product-list-item:hover {
  background: #2e74bc;
  color: #FFF;
  border-top: 2px solid #FAFAFA;
  border-bottom: 2px solid #FAFAFA;
}

.product-list-item:hover .name {
  color: #FFF;
}

.product-list-item:hover .upc {
  color: #46c2db;
}

.product-list-item:hover .price {
  color: #f5861f;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.product-details {
  border-top: 2px solid #FAFAFA;
  border-bottom: 2px solid #FAFAFA;
  background: #2e74bc;
  font-weight: bold;
  color: #fff;
  padding: 0px 40px 30px 40px;
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.field {
  margin: 20px 0;
  box-sizing: border-box;
}

label {
  display: block;
  width: 100%;
  padding: 5px 5px 5px 0px;
  box-sizing: border-box;
}

input, select, textarea {
  display: inline-block;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
  box-sizing: border-box;
}
